<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Enjoy</p>


<form action="auth/uploads" method="post" accept-charset="utf-8" enctype="multipart/form-data">
	<input type="text" name="nama">
	<input type="file" name="file">
	<button type="submit">OK</button>
</form>
